.card{
    background: $light_th_card_bg;
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    .App.dark_theme &{
        background: $dark_th_card_bg;
        &:hover{
            background: lighten($dark_th_card_bg, 3%);
        }
    }

    &:hover{
        background: darken($light_th_card_bg, 3%);
    }
    &:before{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        top: 0;
        left: 0;
    }
    &.fb_color{
        &:before{
            background: $facebook;
        }
    }
    &.tw_color{
        &:before{
            background: $twitter;
        }
    }
    &.in_color{
        &:before{
            background: $instagram;
        }
    }
    &.yt_color{
        &:before{
            background: $youTube;
        }
    }
    &__account{
        color: $light_th_gray_text;
        font-weight: 700;
        font-size: em(12px);
        margin-left: 10px;
        letter-spacing: 0.02em;
        .App.dark_theme &{
            color: $dark_th_blue_text;
        }
    }
    &__number{
        font-size: em(54px);
        font-weight: bold;
        margin-top: 18px;
    }
    &__label{
      letter-spacing: 0.6em;
      margin-top: 10px;
      text-transform: uppercase;
      font-size: em(11px);
      color: $light_th_gray_text;
    }
    &__today{
        margin-top: 20px;
        img, span{
            vertical-align: middle;
        }
        img{
            margin-right: 6px;
        }
        span{
            font-size: em(12px);
            font-weight: 700;
        }
        &.more{
            color: $lime_green;
        }
        &.less{
            color: $bright_red;
        }
    }
}

@media screen and (max-width: $break-m){
    .card{
        &__number{
            font-size: em(42px);
        }
    }
}

@media screen and (max-width: $break-s){
    .card{
        .flex-layout{
            flex-direction: row;
        }
    }
}